
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background: whitesmoke;
  line-height: 1.5;
  font-size: 0.87rem;
}

.sidebar-toggle {
  position: fixed;
  top: 2rem;
  right: 3rem;
  font-size: 3rem;
  background: transparent;
  border-color: transparent;
  color: #369683;
  transition: all 200ms ease-in;;
  cursor: pointer;
  padding: 1rem;
}

.sidebar-toggle:hover {
  color: #26695c;
  right: 4rem;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: darkslategrey;
  transition: 200ms ease-in-out;
  cursor: pointer;
  padding: 1rem;
}

.close-btn:hover {
  color: #2A2A2A;
  transform: rotate(100deg);
}

.logo {
  justify-self: center;
  height: 60px;
}

.links a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  color: #2A2A2A;
  transition: all 200ms ease-in;;
}

.links a:hover {
  background: whitesmoke;
  padding-left: 1.75rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: lightblue;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  transition: all 200ms ease-in;
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}

@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}

.terms {
  text-align: center;
  margin-bottom: 1rem;
  color: black;
}


